extends layout
   
block content
  h1 Vista del personaje
  #container
        each personaje in personajes
            .card(style='width: 13rem')
                img.card-img-top(src=personaje.image alt='...')
                .card-body
                    p
                        strong
                            =   personaje.name
                    p
                        =    personaje.gender
                    p
                        =    personaje.created
                    a(href=personaje.url) Descargar su ficha (JSON)
                    div
                    
                    a(href='/personaje/todos') Lista completa